<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Acerca De</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Proyectos</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Contactame</a></li>
      </ul>

      <h6>Edgar de Jesus Rodriguez Uscanga </h6>
        <a routerLink="/inicio" class="d-block link-body-emphasis text-decoration-none" aria-expanded="false" style="padding-left: 10px;">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
    </div>
  </div>
</header>
