<div class="row justify-content-center">
  <div class="acerca-de col-6 text-center">
    <h2>ACERCA DE</h2>
  </div>
</div>

<div class="row justify-content-center">
  <div class="info col-6 text-center">
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Donec porta ultrices sem, a euismod ante finibus ut. Proin
      sapien lectus, vestibulum eu lorem vehicula, convallis congue
      tellus. Vestibulum ante ipsum primis in faucibus orci luctus
      et ultrices posuere cubilia curae; Nunc consequat dolor ac
      libero viverra tristique. Nam elementum nunc nisl, at consequat
      urna molestie ac. Integer consequat, massa non sollicitudin
      tincidunt, nisi massa mattis ante, quis ultricies nisi neque
      non est. Donec et aliquet ipsum, a venenatis lacus.</p>
  </div>
</div>
