<div class="row justify-content-center">
  <div class="titulo col-6 text-center">
    <h2>BIENVENIDOS</h2>
  </div>
</div>

<div class="container row">
  <div class="col-6">
    <div class="row">
      <button class="btn image-button" routerLink="/acerca-de">
        <img src="assets/imagenes/acerca-de.jpg" style="width: 630px; height: 250px;" alt="Descripción de la imagen">
        <span class="button-text">ACERCA DE</span>
      </button>
    </div>
    <div class="row">
      <button class="btn image-button">
        <img src="assets/imagenes/contactame.jpg" style="width: 630px; height: 250px;" alt="Descripción de la imagen">
        <span class="button-text">CONTACTAME</span>
      </button>
    </div>
  </div>
  <div class="col-6">
    <button class="btn image-button">
      <img src="assets/imagenes/codigo.jpeg" style="width: 630px; height: 510px;" alt="Descripción de la imagen">
      <span class="button-text">PROYECTOS</span>
    </button>
  </div>
</div>
